<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeonBlog</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header class ="site-header"><!-- 网站顶部 -->
        <div class="header-container"><!-- 顶部容器 -->
            <div class="logo">
                LeonBlog
            </div>

            <nav class="main-nav"><!-- 主导航栏 -->
                <a href="#" class="active">Home</a>
                <a href="#">Math</a>
                <a href="#">Crypto</a>
                <a href="#">Research</a>
                <a href="#">Project</a>
                <a href="#">Diary</a>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Per Aspera Ad Astra</h1>
                <p>循此苦旅,以达天际.穿越逆境,直抵繁星</p>
            </div>
        </section>

        <section class="category-section">
            <div class="category-container">
                <a href="#" class="category-card">
                    <div class="category-icon math-icon">
                        <img src="../assets/icons/pi.svg" alt="Math">
                    </div>
                    <h2>Math</h2>
                    <p>通俗易懂的数学笔记</p>
                    <span class="category-arrow">→</span>
                </a>
                <a href="#" class="category-card">
                    <div class="category-icon crypto-icon">
                        <img src="../assets/icons/lock-keyhole.svg" alt="Crypto">
                    </div>
                    <h2>Crypto</h2>
                    <p>密码学笔记</p>
                    <span class="category-arrow">→</span>
                </a>
                <a href="#" class="category-card">
                    <div class="category-icon research-icon">
                        <img src="../assets/icons/file-text.svg" alt="Research">
                    </div>
                    <h2>Research</h2>
                    <p>个人科研经历</p>
                    <span class="category-arrow">→</span>
                </a>
                <a href="#" class="category-card">
                    <div class="category-icon project-icon">
                        <img src="../assets/icons/cuboid.svg" alt="Project">
                    </div>
                    <h2>Project</h2>
                    <p>个人课外项目</p>
                    <span class="category-arrow">→</span>
                </a>
                <a href="#" class="category-card">
                    <div class="category-icon diary-icon">
                        <img src="../assets/icons/pencil-line.svg" alt="Diary">
                    </div>
                    <h2>Diary</h2>
                    <p>日记,杂聊,闲谈</p>
                    <span class="category-arrow">→</span>
                </a>
            </div>
        </section>

    </main>


</body>
</html>